.container {
  padding: 20px;
  min-height: 100vh;
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển màu nền */
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.color-red {
  background-color: red;
}
.color-green {
  background-color: green;
}
.color-blue {
  background-color: blue;
}
.color-purple {
  background-color: purple;
}
.color-orange {
  background-color: orange;
}
.color-black {
  background-color: black;
}
